* text=auto

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.json text eol=lf
*.manifest text eol=lf
*.txt text eol=lf
VERSION text eol=lf

*.ico binary
*.png binary
*.exe binary
*.dll binary
*.syso binary
*.zip binary

